.seperator {
  width: 100%;
  max-width: 1000px;
  height: 1px;
  background-color: #e7edf1;
  margin: 0 auto;
  margin-top: 9rem;

  @media (min-width: 450px) {
    width: 95%;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  max-width: 1000px;
  margin: auto;
  padding-left: 0.5rem;
  .footer__links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;

    li {
      display: inline-block;
      color: #959da5;
      a {
        color: #959da5;
        transition: color 500ms ease-in;

        &:hover {
          color: $brown-text-color;
        }
      }
      margin-right: 1rem;
    }
  }
  .footer__social-media {
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    margin-left: 4px;
    margin-top: 10px;

    a {
      transition: background 500ms cubic-bezier(0.4, 0, 0.2, 1);
      border-radius: 50%;
      padding: 1rem;

      svg {
        cursor: pointer;
        fill: #959da5;
        transition: fill 500ms linear;
      }
      &:hover {
        background: $background-primary;
        svg {
          fill: #665053;
        }
      }
    }
  }

  @media (min-width: 450px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding-left: 0;
    .footer__social-media {
      order: 2;
    }
  }
}
